/.metadata/bin/.settings
/.metadata/.plugins/org.eclipse.core.resources/.projects/RedisClone
/.metadata/.plugins/org.eclipse.core.resources/.projects/RedisClone/.lastActiveLocation
/.metadata/.plugins/org.eclipse.core.resources/.projects/RedisClone/.lastActiveLocation/.bin
/.metadata/.plugins/org.eclipse.core.resources/.projects/RedisClone/.lastActiveLocation/.bin/.settings
/.metadata/.plugins/org.eclipse.core.resources/.projects/RedisClone/.lastActiveLocation/.bin/.settings/org.eclipse.jdt.core.prefs
/.metadata/.plugins/org.eclipse.core.resources/.projects/RedisClone/.lastActiveLocation/.bin/.settings/org.eclipse.jdt.ui.prefs
/.metadata/.plugins/org.eclipse.core.resources/.projects/RedisClone/.lastActiveLocation/.bin/.settings/org.eclipse.m2e.core.prefs
